@model MyShop.Models.Faculty

@{
    ViewData["Title"] = "Thêm giảng viên";
}

<div class="container py-4">

    <div class="d-flex justify-content-center mb-3">
        <h3 class="text-primary">Thêm giảng viên</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">

            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <!-- Tên khoa -->
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Tên giảng viên</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <!-- Mô tả -->
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Mô tả</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <!-- Hình ảnh -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">Hình ảnh</label>
                    <input name="photo" type="file" class="form-control" />
                </div>
                <!-- Kích hoạt -->
                <label class="form-label fw-semibold">Kích hoạt</label>
                <select asp-for="Active" class="form-select">
                    <option value="1">Hiển thị</option>
                    <option value="0">Ẩn</option>
                </select>
                <!-- Nút -->
                <div class="text-end">
                    <a asp-action="Index" class="btn btn-secondary">
                        Trở lại
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
