@{
    ViewData["Title"] = "Dịch vụ sáng tạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" class="column1 boxed">
    <!-- main -->

    <div class="container">
        <div class="row main-content-wrap">
            <!-- main content -->
            <div class="main-content col-lg-12">


                <div id="content" role="main">

                    <article class="post-12 page type-page status-publish hentry">

                        <span class="entry-title" style="display: none;">Dịch vụ sáng tạo</span><span class="vcard" style="display: none;"><span class="fn"><a href="https://tech1.mypagedemo.com/brightbox/author/mypage/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-05-20T18:39:57+07:00</span>
                        <div class="page-content">
                            <div class="vc_row wpb_row row vc_row-o-content-top vc_row-flex">
                                <div class="vc_column_container col-md-4">
                                    <div class="wpb_wrapper vc_column-inner">
                                        <h2 class="vc_custom_heading title_one align-left">
                                            Hãy để các<br />
                                            học viên xuất sắc của Bright Box<br />
                                            hiện thực hóa<br />
                                            ý tưởng của<br />
                                            doanh nghiệp
                                        </h2>
                                    </div>
                                </div><div class="vc_column_container col-md-3">
                                    <div class="wpb_wrapper vc_column-inner">
                                        <div class="wpb_text_column wpb_content_element  list_one">
                                            <div class="wpb_wrapper">
                                                <p><span style="font-size: 18px;">#Brand Identity</span></p>
                                                <p><span style="font-size: 18px;">#Print Collateral</span></p>
                                                <p><span style="font-size: 18px;">#Digital &amp; Visual Art</span></p>
                                                <p><span style="font-size: 18px;">#Packaging</span></p>

                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vc_column_container col-md-5">
                                    <div class="wpb_wrapper vc_column-inner">
                                        <div class="wpb_text_column wpb_content_element  vc_custom_1620720930756">
                                            <div class="wpb_wrapper">
                                                <p><span style="font-size: 20px; color: #023f88;"><strong>Dự án đã thực hiện</strong></span></p>

                                            </div>
                                        </div>
                                        <div id="porto-carousel-1286017136698597d14ead5" class="porto-carousel-wrapper  img_100" data-gutter="0" data-rtl="false">
                                            <div class="porto-ultimate-carousel porto-carousel-2122924031698597d14ea9f ">
                                                <div class="porto-item-wrap">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                                        <div class="wpb_wrapper">

                                                            <a class="" data-lightbox="lightbox[rel-12-484841373]" href="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="370" height="277" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px" /></div></a>
                                                        </div>
                                                    </div>
                                                </div><div class="porto-item-wrap">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                                        <div class="wpb_wrapper">

                                                            <a class="" data-lightbox="lightbox[rel-12-4053676785]" href="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="370" height="277" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px" /></div></a>
                                                        </div>
                                                    </div>
                                                </div><div class="porto-item-wrap">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                                        <div class="wpb_wrapper">

                                                            <a class="" data-lightbox="lightbox[rel-12-4004722637]" href="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="370" height="277" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px" /></div></a>
                                                        </div>
                                                    </div>
                                                </div><div class="porto-item-wrap">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                                        <div class="wpb_wrapper">

                                                            <a class="" data-lightbox="lightbox[rel-12-3383667036]" href="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="370" height="277" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px" /></div></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><script>
                                                  jQuery(document).ready(function ($) {
                                                      if ($.fn.slick) {
                                                          $('.porto-carousel-2122924031698597d14ea9f').slick({
                                                              dots: true, autoplay: true, autoplaySpeed: 5000, speed: 300, infinite: true, arrows: false, slidesToScroll: 1, slidesToShow: 1, swipe: true, draggable: true, touchMove: true, pauseOnHover: true, responsive: [
                                                                  {
                                                                      breakpoint: 1025,
                                                                      settings: {
                                                                          slidesToShow: 1,
                                                                          slidesToScroll: 1,
                                                                      }
                                                                  },
                                                                  {
                                                                      breakpoint: 769,
                                                                      settings: {
                                                                          slidesToShow: 1,
                                                                          slidesToScroll: 1
                                                                      }
                                                                  },
                                                                  {
                                                                      breakpoint: 481,
                                                                      settings: {
                                                                          slidesToShow: 1,
                                                                          slidesToScroll: 1
                                                                      }
                                                                  }
                                                              ], pauseOnDotsHover: true, customPaging: function (slider, i) {
                                                                  return '<i type="button" style="color:#cccccc;" class="fas fa-circle" data-role="none"></i>';
                                                              },
                                                          });
                                                      } else {
                                                          var c = document.createElement("script");
                                                          c.src = "https://tech1.mypagedemo.com/brightbox/wp-content/themes/mypage/js/libs/jquery.slick.min.js";
                                                          if (!$('script[src="' + c.src + '"]').length) {
                                                              document.getElementsByTagName("body")[0].appendChild(c);
                                                          }
                                                          c = document.createElement("script");
                                                          c.src = "https://tech1.mypagedemo.com/brightbox/wp-content/plugins/porto-functionality/shortcodes/assets/js/ultimate-carousel-loader.min.js";
                                                          if (!$('script[src="' + c.src + '"]').length) {
                                                              document.getElementsByTagName("body")[0].appendChild(c);
                                                          }
                                                          setTimeout(function () {
                                                              if ($.fn.slick) {
                                                                  $('.porto-carousel-2122924031698597d14ea9f').slick({
                                                                      dots: true, autoplay: true, autoplaySpeed: 5000, speed: 300, infinite: true, arrows: false, slidesToScroll: 1, slidesToShow: 1, swipe: true, draggable: true, touchMove: true, pauseOnHover: true, responsive: [
                                                                          {
                                                                              breakpoint: 1025,
                                                                              settings: {
                                                                                  slidesToShow: 1,
                                                                                  slidesToScroll: 1,
                                                                              }
                                                                          },
                                                                          {
                                                                              breakpoint: 769,
                                                                              settings: {
                                                                                  slidesToShow: 1,
                                                                                  slidesToScroll: 1
                                                                              }
                                                                          },
                                                                          {
                                                                              breakpoint: 481,
                                                                              settings: {
                                                                                  slidesToShow: 1,
                                                                                  slidesToScroll: 1
                                                                              }
                                                                          }
                                                                      ], pauseOnDotsHover: true, customPaging: function (slider, i) {
                                                                          return '<i type="button" style="color:#cccccc;" class="fas fa-circle" data-role="none"></i>';
                                                                      },
                                                                  });
                                                              }
                                                          }, 300);
                                                      }
                                                  });
                                        </script>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row row vc_custom_1620288240196">
                                <div class="vc_column_container col-md-12">
                                    <div class="wpb_wrapper vc_column-inner">
                                        <h2 style="text-align: center" class="vc_custom_heading title_one">Liên hệ chúng tôi</h2><div role="form" class="wpcf7" id="wpcf7-f644-p12-o1" lang="vi" dir="ltr">
                                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                            <form action="/brightbox/dich-vu-sang-tao/#wpcf7-f644-p12-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="644" />
                                                    <input type="hidden" name="_wpcf7_version" value="5.3.2" />
                                                    <input type="hidden" name="_wpcf7_locale" value="vi" />
                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f644-p12-o1" />
                                                    <input type="hidden" name="_wpcf7_container_post" value="12" />
                                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                </div>
                                                <div class="service_form">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <i class="Simple-Line-Icons-user text-color-light"></i><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required custom-contact-input" aria-required="true" aria-invalid="false" placeholder="Họ và Tên *" /></span>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <i class="Simple-Line-Icons-envelope text-color-light"></i><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email custom-contact-input" aria-required="true" aria-invalid="false" placeholder="Email *" /></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 custom-select-style">
                                                            <i class="Simple-Line-Icons-call-out icons text-color-light"></i><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required custom-contact-input" aria-required="true" aria-invalid="false" placeholder="Số điện thoại *" /></span>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <i class="Simple-Line-Icons-location-pin icons text-color-light"></i><span class="wpcf7-form-control-wrap your-company"><input type="text" name="your-company" value="" size="40" class="wpcf7-form-control wpcf7-text custom-contact-input" aria-invalid="false" placeholder="Tên công ty/tổ chức" /></span>
                                                        </div>
                                                    </div>
                                                    <div class="row text_other">
                                                        <div class="col-lg-12">
                                                            <label for="mp_note">Nội dung *</label>
                                                            <i class="Simple-Line-Icons-bubble icons text-color-light"></i><span class="wpcf7-form-control-wrap txt-note"><textarea name="txt-note" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required custom-contact-input" id="mp_note" aria-required="true" aria-invalid="false" placeholder="Nhập nội dung *"></textarea></span>
                                                        </div>
                                                    </div>
                                                    <div class="row center">
                                                        <div class="col-lg-12"><input type="submit" value="GỬI YÊU CẦU" class="wpcf7-form-control wpcf7-submit custom-btn-style-4" /></div>
                                                    </div>
                                                </div><div class="wpcf7-response-output" aria-hidden="true"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>



            </div><!-- end main content -->
        </div>

        <div class="porto-html-block porto-block-html-content-bottom"></div>


    </div><!-- end main -->
</div>