@model MyShop.Models.CommentPro

@{
    ViewData["Title"] = "Edit";
}

<div class="container py-4">

    <div class="d-flex justify-content-center mb-3">
        <h3 class="text-primary">Thêm bình luận</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">

            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input asp-for="Id" type="hidden" />
                <div class="row">
                    <!-- Học viên -->
                    <div class="col-md-6 mb-3">
                        <label asp-for="CustomerId" class="form-label">Học viên</label>
                        <select asp-for="CustomerId" class="form-select" asp-items="ViewBag.CustomerId">
                            <option value="">-- Chọn học viên --</option>
                        </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>

                    <!-- Khóa học -->
                    <div class="col-md-6 mb-3">
                        <label asp-for="ProductId" class="form-label">Khóa học</label>
                        <select asp-for="ProductId" class="form-select" asp-items="ViewBag.ProductId">
                            <option value="">-- Chọn khóa học --</option>
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Comment1" class="form-label">Bình luận</label>
                    <textarea asp-for="Comment1" class="form-control" id="Comment1"></textarea>
                    <span asp-validation-for="Comment1" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Rate" class="form-label mb-2">Đánh giá</label>
                    <select asp-for="Rate" class="form-select">
                        <option value="">-- Chọn đánh giá --</option>
                        <option value="1">⭐</option>
                        <option value="2">⭐⭐</option>
                        <option value="3">⭐⭐⭐</option>
                        <option value="4">⭐⭐⭐⭐</option>
                        <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
                <!-- Kích hoạt -->
                <label class="form-label fw-semibold mb-2">Kích hoạt</label>
                <select asp-for="Active" class="form-select">
                    <option value="1">Hiển thị</option>
                    <option value="0">Ẩn</option>
                </select>
                <!-- Nút -->
                <div class="text-end">
                    <a asp-action="Index" class="btn btn-secondary">
                        Trở lại
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

@section Scripts {
    </script>
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/elfinder/js/elfinder.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#btnBrowse') != undefined) {
                $('#btnBrowse').click(function () {
                    var fm = $('<div id="elfinder" />').dialogelfinder({
                        url: '/quan-ly-tep-tin/connector',
                        baseUrl: "/elfinder/",
                        width: 840,
                        height: 450,
                        destroyOnClose: true,
                        title: 'Quản lý tệp tin',
                        getFileCallback: function (files, fm) {
                            $('#Image').val('/' + files[0].path);
                            $('#PictureView').attr('src', '/' + files[0].path);
                        },
                        commandsOptions: {
                            getfile: {
                                multiple: true,
                                oncomplete: 'close',
                                folders: false
                            }
                        }
                    }).dialogelfinder('instance');
                })
            }
        });
        CKEDITOR.replace('Comment1');
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

