@{
	ViewData["Title"] = "Việc làm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="porto-html-block porto-block-html-banner"></div>
<div id="main" class="column1 boxed no-breadcrumbs">
	<!-- main -->

	<div class="container">
		<div class="row main-content-wrap">

			<!-- main content -->
			<div class="main-content col-lg-12">

				<div id="content-inner-top">
					<!-- begin content inner top -->
					<div class="porto-block">
						<div class="vc_row wpb_row row">
							<div class="vc_column_container col-md-12">
								<div class="wpb_wrapper vc_column-inner">
									<div class="vc_wp_custommenu wpb_content_element hashtag">
										<div class="widget widget_nav_menu">
											<div class="menu-hashtag-viec-lam-container">
												<ul id="menu-hashtag-viec-lam" class="menu">
													<li id="menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-296 current_page_item menu-item-632"><a href="https://tech1.mypagedemo.com/brightbox/viec-lam/" aria-current="page">#Tất cả</a></li>
													<li id="menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631"><a href="https://tech1.mypagedemo.com/brightbox/giang-vien-bright-box/">#Giảng viên Bright Box</a></li>
													<li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630"><a href="https://tech1.mypagedemo.com/brightbox/nhan-su-bright-box/">#Tuyển dụng Bright Box</a></li>
													<li id="menu-item-633" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-633"><a href="https://tech1.mypagedemo.com/brightbox/danh-muc/viec-lam/tuyen-dung-tu-cac-doanh-nghiep/">#Tuyển dụng từ các doanh nghiệp</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end content inner top -->

				<div id="content" role="main">

					<article class="post-296 page type-page status-publish hentry">

						@* <span class="entry-title" style="display: none;">Việc làm</span><span class="vcard" style="display: none;"><span class="fn"><a href="/viec-lam" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-05-12T11:20:01+07:00</span> *@
						<div class="page-content">
							<div class="vc_row wpb_row row">
								<div class="vc_column_container col-md-12">
									<div class="wpb_wrapper vc_column-inner">
										<div id="porto-blog-7331" class="porto-blog wpb_content_element ">
											<div class="blog-posts posts-grid blog-posts-related">
												<div class="posts-container row">

													<article class="post post-grid col-md-12 post-title-simple post-566 post type-post status-publish format-standard has-post-thumbnail hentry category-tuyen-dung-tu-cac-doanh-nghiep category-viec-lam">
														<div class="post-item style-4 post-title-simple">
															<span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
																<a href="https://tech1.mypagedemo.com/brightbox/tuyen-dung-nhan-vien-thiet-ke-quang-cao/">
																	<span class="post-image thumb-info-side-image-wrapper">
																		<img class="img-responsive" width="150" height="150" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/seo2-blog-1-150x150.jpg" alt="" />
																	</span>
																</a>
																<span class="thumb-info-caption">

																	<span class="thumb-info-caption-text">
																		<a class="post-title" href="https://tech1.mypagedemo.com/brightbox/tuyen-dung-nhan-vien-thiet-ke-quang-cao/">
																			<h2 class="m-b-sm m-t-xs">
																				Tuyển dụng nhân viên thiết kế quảng cáo
																			</h2>

																		</a>
																		<div class="recruitment_info">
																			<p class="blog_post_employer_name">Công ty TNHH Công Nghệ Mypage</p>

																			<p class="blog_post_work_location">Hồ Chí Minh</p>

																			<p class="blog_post_time">Bạn còn 1701 ngày để nộp ứng tuyển</p>
																		</div>

																	</span>

																	<div class="recruitment_info_private">
																		<a class="post_career_login" href="https://tech1.mypagedemo.com/brightbox/dang-nhap/">Vui lòng đăng nhập để xem lương</a>
																	</div>
																</span>
															</span>
														</div>
													</article>

												</div>
											</div>



										</div>
									</div>
								</div>
							</div>
						</div>
					</article>

				</div>



			</div><!-- end main content -->



		</div>
	</div>

	<div class="porto-html-block porto-block-html-content-bottom"></div>


</div><!-- end main -->